{% load static %}
<!-- All JS Files -->
<!-- jQuery -->
<!-- <script src="{% static 'js/jquery.min.js' %}"></script> -->
<!-- Popper -->
<!-- <script src="{% static 'js/popper.min.js' %}"></script> -->
<!-- Bootstrap -->
<!-- <script src="{% static 'js/bootstrap.min.js' %}"></script> -->
<!-- All Plugins -->
<!-- <script src="{% static 'js/akame.bundle.js' %}"></script> -->
<!-- Active -->
<!-- <script src="{% static 'js/active.js' %}"></script>
<script src="{% static 'js/avoid.console.error.js' %}"></script>
<script src="{% static 'js/classynav.js' %}"></script>
<script src="{% static 'js/gulpfile.js' %}"></script>
<script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'js/jarallax-video.min.js' %}"></script>
<script src="{% static 'js/jarallax.min.js' %}"></script>
<script src="{% static 'js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'js/jquery.easing.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/jquery.scrollup.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/waypoints.min.js' %}"></script>
<script src="{% static 'js/wow.min.js' %}"></script> -->

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- Js Plugins -->
<script src="{% static 'new_js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'new_js/bootstrap.min.js' %}"></script>
<script src="{% static 'new_js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'new_js/jquery-ui.min.js' %}"></script>
<script src="{% static 'new_js/jquery.slicknav.js' %}"></script>
<script src="{% static 'new_js/mixitup.min.js' %}"></script>
<script src="{% static 'new_js/owl.carousel.min.js' %}"></script>
<script src="{% static 'new_js/main.js' %}"></script>
<script src="{% static 'base.js' %}"></script>
