{% load static %}
    <!-- Header Area Start -->
    <header class="header-area">
        <!-- Top Header Area Start -->
        <div class="top-header-area">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-5">
                        <div class="top-header-content">
                            <p>Welcome to Pharma Rose</p>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="top-header-content text-right">
                            <p><i class="fa fa-clock-o" aria-hidden="true"></i> Sun-Sat: 8.00 to 17.00 <span class="mx-2"></span> | <span class="mx-2"></span> <i class="fa fa-phone" aria-hidden="true"></i> Call us: (+12)-345-6789</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top Header Area End -->

        <!-- Main Header Start -->
        <div class="main-header-area">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Classy Menu -->
                    <nav class="navbar navbar-expand-lg classy-navbar justify-content-between">

                        <!-- Logo -->
                        <a class="nav-brand" style="text-decoration:none;" href="{% url 'home' %}">
                          <img src="{% static 'img/rose.jpg' %}" width="50" height="50">
                          Pharma Rose</a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">
                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul id="nav">
                                    <li>
                                      <a style='text-decoration:none;' href="{% url 'products:product_list' %}">Products</a>
                                    </li>
                                    <li><a style='text-decoration:none;' href="{% url 'about' %}">About us</a></li>
                                    <li><a style='text-decoration:none;' href="{% url 'contact:contact' %}">Contact us</a></li>
                                </ul>
                                <!-- Book Icon -->
                                <div class="book-now-btn ml-5 mt-4 mt-lg-0 ml-md-4">
                                    <a style="background: #ed790b;font-weight: bold;" href="{% url 'check:check_serial' %}" class="btn akame-btn">Check code</a>
                                </div>
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->
