{% load static %}

<header class="header">
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="header__logo">
                <a href="{% url 'home' %}">
                    <img src="{% static 'img/rose.jpg' %}" alt="Logo" width="200" height="100">
                </a>
            </div>
        </div>
        <div class="col-lg-6">
            <nav class="header__menu">
                <ul>
                    <li class="active"><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'products:product_list' %}">Products</a></li>
                    <li><a href="{% url 'contact:contact' %}">Contact</a></li>
                    <li><a href="{% url 'about' %}">About Us</a></li>
                    <li><a href="{% url 'check:check_serial' %}">Check</a></li>
                </ul>
            </nav>
        </div>
</header>