{% load static %}
    <!-- Header Area Start -->
    <header class="header-area">

        <!-- Main Header Start -->
        <div class="main-header-area">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Classy Menu -->
                    <nav class="navbar navbar-expand-lg classy-navbar justify-content-between">

                        <!-- Logo -->
                        <a class="nav-brand" style="text-decoration:none;" href="{% url 'home' %}">
                          <img src="{% static 'img/rose.png' %}" width="50" height="50">
                          Ferrun Pharma</a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">
                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul id="nav">
                                    <li>
                                      <a style='text-decoration:none;' href="{% url 'products:product_list' %}">Products</a>
                                    </li>
                                    <li><a style='text-decoration:none;' href="{% url 'about' %}">About us</a></li>
                                    <li><a style='text-decoration:none;' href="{% url 'contact:contact' %}">Contact us</a></li>
                                </ul>
                                <!-- Book Icon -->
                                <div class="book-now-btn ml-5 mt-4 mt-lg-0 ml-md-4">
                                    <a style="background: #ed790b;font-weight: bold;" href="{% url 'check:check_serial' %}" class="btn akame-btn">Check code</a>
                                </div>
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->
