{% extends "base.html" %}

{% block title %}Checking Code{% endblock %}

{% block content %}
<div class=" container my-5">
  {% for query in queryset %}
    {% if barcode == query.bar_code and serial == query.serial_number %}
      <p class="alert alert-primary text-center">
        Ваш штрих-код и серийный номер верны <i class="fa fa-check" aria-hidden="true"></i>
      </p>
      <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__item">
                        {% if query.product.image %}
                            <img class="product__details__pic__item--large"
                                src="{{query.product.image.url}}" alt="" height="400px" width="200px">
                        {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__text">
                        <h3>{{query.product.name}}</h3>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    {% endif %}
    {% empty %}
      {% if barcode != query.bar_code and serial != query.serial_number %}
        <p class="alert alert-danger text-center">
          ПРЕДУПРЕЖДЕНИЕ! Ваш штрих-код или серийный номер
          <i class="fa fa-times" aria-hidden="true"></i><br>
          Возможно, вы не покупаете этот продукт
        </p>

      {% endif %}
      {{query.bar_code}}
  {% endfor %}
</div>

  <div class="container">
    <h5 class="text-center my-5">Введите свой штрих-код &amp; Серийный номер для проверки </h5>

      <form action="." method="get">

        <div class="form-row form-inlin justify-content-center" style="margin-bottom: 100px; margin-left: 160px;">

          <div class="col-sm-3 my-1">
            <input class="form-control" type="search"
            name="serial" placeholder="your Serial Number" required />
          </div>

          <div class="col-sm-3 my-1">
            <input class="form-control" type="search"
            name="code" placeholder="your Barcode Number" required />
          </div>

          <div class="col-sm-3 my-1">
            <button class="btn akame-btn ml-2" type="submit"
            style="background: #3f2e4f; color: white; font-weight: bold;">Проверять</button>
          </div>

        </div>
      </form>

  </div>
{% endblock content %}
