{% extends "base.html" %}

{% block title %}Products | {{category.name}}{% endblock %}

{% block content %}
<!-- Breadcrumb Area Start -->
<section class="breadcrumb-area section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2 style="margin-bottom: 20px; margin-top: 50px;">{{category.name}}</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Area End -->

<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-7">
                <div class="product__discount">
                    <div class="section-title product__discount__title">
                        <h2>Products</h2>
                    </div>
                    <div class="row">
                      {% for product in products %}
                        <div class="col-lg-4">
                            <div class="product__discount__item">
                              {% if product.image %}
                              <a href="{% url 'products:product_detail' product.slug %}">
                                  <div class="product__discount__item__pic set-bg"
                                      data-setbg="{{product.image.url}}">
                                  </div>
                                </a>
                              {% endif %}

                                <div class="product__discount__item__text">
                                    {% if product.category %}
                                      <span>{{product.category}}</span>
                                    {% else %}
                                      <span>No Category Related</span>
                                    {% endif %}
                                    <h5><a href="{% url 'products:product_detail' product.slug %}">{{product.name}}</a></h5>
                                    <div class="product__item__price">
                                    {{product.text|truncatewords:6}}...etc
                                    <a href="{% url 'products:product_detail' product.slug %}" 
                                    class="btn btn-warning btn-sm" style="height: 28px; background: #7ead39;">More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                      {% empty %}
                      <div class="post-content text-center">
                        <p>Sorry, No there any Products Yet!</p>
                      </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
</section>
<section>
  {% if product_page.has_next %}
      <div class="row">
        <div class="col-12 text-center">
          <a href="?page={{ product_page.next_page_number }}" class="btn akame-btn active mt-30">Load More</a>
        </div>
      </div>
  {% endif %}
</section>
<!-- News Area End -->
{% endblock %}
