{% extends "base.html" %}
{% block title %}Pharma-Rose | About-US{% endblock %}


{% block content %}
<!-- Breadcrumb Area Start -->
<section class="breadcrumb-area section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2>About Us</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Area End -->

<!-- Akame About Area Start -->
<section class="akame--about--area">
    <div class="container">
        <div class="row">
            <!-- Section Heading -->
            <div class="col-12 col-lg-6">
                <div class="section-heading text-right mb-80 pr-5 pt-3">
                    <p>Tiland • Since 2004</p>
                    <span>History</span>
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <div class="about--us--content mb-80">
                    <p>big company for bodybuilding products in tiland </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Akame About Area End -->

{% endblock %}
