{% extends "base.html" %}
{% block title %}Ferrun Pharma | О нас{% endblock %}


{% block content %}
<!-- Breadcrumb Area Start -->
<section class="breadcrumb-area section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title product__discount__title">
                    <h2 style="margin-bottom: 20px; margin-top: 50px;">О нас</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Area End -->

<!-- Akame About Area Start -->
<section class="akame--about--area">
    <div class="container">
        <div class="row">
            <!-- Section Heading -->

            <div class="col-12 col-lg-9">
                <div class="about--us--content mb-80">
                    <p style="margin-bottom: 100px;">Служение хорошему здоровью
                        Компания Ferrun Pharma основана командой молодых, динамичных и опытных людей в 2010 году. Мы всегда стремимся сделать жизнь сильнее вместе с медицинским сообществом,
                        общественные организации и общество. Нашим основным обязательством является улучшение здравоохранения и создание ценности для всех наших заинтересованных сторон, включая врачей, пациентов,
                        регулирующие органы, сотрудники и деловые партнеры. Мы с энтузиазмом и энтузиазмом относимся к нашей цели и очень оптимистично смотрим в будущее, учитывая захватывающие возможности расширения и роста на разных этапах развития.
                        обещает продолжать поставлять высококачественные лекарства, производимые на предприятиях ВОЗ по GMP, при хорошей поддержке исследований и разработок. Основная цель компании – стать компанией, пользующейся наибольшим уважением среди врачей, пациентов, сотрудников и всех партнеров по сбыту.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Akame About Area End -->

{% endblock %}
