{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="The House of Bodybuilding Products">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>{% block title %}ProLab{% endblock %}</title>
    <link rel="icon" type="image/jpg" href="{% static 'img/logo.jpg' %}">
    {% include "base/css.html" %}
</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- /Preloader -->

    <!-- start Navbar -->
    {% include "base/navbar2.html" %}
    <!-- end navbar -->

    <!-- Start Messages -->
    {% if messages %}
      <ul class="alert alert-success" role="alert">
        {% for message in messages %}
        <li{% if message.tags %} class='{{ message.tags }}'{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    <!-- End Messages -->

<!-- start block area -->

      {% block content %}

      {% endblock %}

<!-- end block area -->


    <!-- Footer Area Start -->
    {% include "base/footer.html" %}
    <!-- Footer Area End -->

    {% include "base/js.html" %}

</body>

</html>
