{% extends "base.html" %}
{% load static %}
{% block content %}
  <!-- Welcome Area Start -->
  <section class="welcome-area">
      <div class="welcome-slides owl-carousel">
          <!-- Single Welcome Slide -->
          <div class="single-welcome-slide bg-img" style="background-image: url({% static 'img/muscle/arnold.jpg' %});">
              <!-- Welcome Content -->
              <div class="welcome-content h-100">
                  <div class="container h-100">
                      <div class="row h-100 align-items-center">
                          <!-- Welcome Text -->
                          <div class="col-12 col-md-9 col-lg-6">
                              <div class="welcome-text">
                                  <p data-animation="fadeInUp" data-delay="400ms">
                                    “Serving for Good Health Pharma rose established with a team of young,
                                    dynamic & experienced people in the year 2010. We are always committed in make
                                    Life Stronger Together with medical fraternity, social organizations & the society”
                                  </p>
                                  <a href="{% url 'contact:contact' %}" class="btn akame-btn" data-animation="fadeInUp" data-delay="700ms">Contact Us</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="single-welcome-slide bg-img" style="background-image: url({% static 'img/muscle/22.jpg' %});">
              <!-- Welcome Content -->
              <div class="welcome-content h-100">
                  <div class="container h-100">
                      <div class="row h-100 align-items-center">
                      </div>
                  </div>
              </div>
          </div>

          <div class="single-welcome-slide bg-img" style="background-image: url({% static 'img/muscle/3.jpg' %});">
              <!-- Welcome Content -->
              <div class="welcome-content h-100">
                  <div class="container h-100">
                      <div class="row h-100 align-items-center">
                      </div>
                  </div>
              </div>
          </div>

      </div>
  </section>
  <!-- Welcome Area End -->


  <!-- Our Service Area Start -->
  <section class="akame-service-area section-padding-80-0">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <!-- Section Heading -->
                  <div class="section-heading text-center">
                      <h3 class="text-center">Our Products</h3>
                      <p class="text-center">
                        Serving for Good Health Pharma rose established with a team of young,
                        dynamic & experienced people in the year 2010.
                      </p>
                      <div class="container my-5">
                        <div class="row">
                          {% for category in all_categories %}
                            <div class="col-sm-2 my-3">
                                <a style="font-weight: bold;" class="btn akame-btn" href="{% url 'products:category_product_list' category.slug %}">{{category.name}}</a>
                            </div>
                          {% endfor %}
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Our Service Area End -->


{% endblock %}
