{% extends "base.html" %}
{% load static %}
{% block content %}
  <!-- Welcome Area Start -->
  <section class="welcome-area">
      <div class="welcome-slides owl-carousel">
          <!-- Single Welcome Slide -->
          <div class="single-welcome-slide bg-img" style="background-image: url({% static 'img/muscle/arnold.jpg' %});">
              <!-- Welcome Content -->
              <div class="welcome-content h-100">
                  <div class="container h-100">
                      <div class="row h-100 align-items-center">
                          <!-- Welcome Text -->
                          <div class="col-12 col-md-9 col-lg-6">
                              <div class="welcome-text">
                                  <p data-animation="fadeInUp" data-delay="400ms">“Discover your own style.
                                    Don't try to repeat what has already been written -
                                    have the courage to do your own thing and don't
                                    be afraid to do something different.”</p>
                                  <a href="/" class="btn akame-btn" data-animation="fadeInUp" data-delay="700ms">About Us</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="single-welcome-slide bg-img" style="background-image: url({% static 'img/muscle/22.jpg' %});">
              <!-- Welcome Content -->
              <div class="welcome-content h-100">
                  <div class="container h-100">
                      <div class="row h-100 align-items-center">
                      </div>
                  </div>
              </div>
          </div>

          <div class="single-welcome-slide bg-img" style="background-image: url({% static 'img/muscle/3.jpg' %});">
              <!-- Welcome Content -->
              <div class="welcome-content h-100">
                  <div class="container h-100">
                      <div class="row h-100 align-items-center">
                      </div>
                  </div>
              </div>
          </div>

      </div>
  </section>
  <!-- Welcome Area End -->


  <!-- Our Service Area Start -->
  <section class="akame-service-area section-padding-80-0">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <!-- Section Heading -->
                  <div class="section-heading text-center">
                      <h2>Our Services</h2>
                      <p>The House of Hair Salon &amp; Spa, incididunt ut labore et dolore magna aliqua.</p>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Our Service Area End -->


{% endblock %}
