{% extends "base.html" %}
{% block title %}Pharma-Rose | Contact-US{% endblock %}

{% block content %}



    <!-- Contact Section Begin -->
    <section class="contact spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 text-center">
                    <div class="contact__widget">
                        <i class="fa fa-map-marker fa-lg" aria-hidden="true" style="color: green;"></i>
                        <h4>Address</h4>
                        <p>Thailand</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 text-center">
                    <div class="contact__widget">
                        <i class="fa fa-clock-o" aria-hidden="true" style="color: green;"></i>
                        <h4>Open time</h4>
                        <p>10:00 am to 23:00 pm</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Contact Section End -->


    <!-- Contact Form Begin -->
    <div class="contact-form spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="contact__form__title">
                        <h2>Leave Message</h2>
                    </div>
                </div>
            </div>
            <form action="#" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <input name="name" type="text" placeholder="Your name">
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <input name="email" type="text" placeholder="Your Email">
                    </div>
                    <div class="col-lg-12 text-center">
                        <textarea name="message" placeholder="Your message"></textarea>
                        <button type="submit" class="site-btn">SEND MESSAGE</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Contact Form End -->


  </div>
{% endblock %}
