{% extends "base.html" %}
{% block title %}Pharma-Rose | Contact-US{% endblock %}

{% block content %}
  <div class="container">
    <!-- Contact Information Area Start -->
    <section class="contact-information-area section-padding-80-0">
        <div class="container">
            <div class="row">

                <!-- Single Contact Information -->
                <div class="col-12 col-sm-6 col-lg-3" style="margin-left: 20%;">
                    <div class="single-contact-information mb-80">
                        <i class="fas fa-map-marker-alt"></i>
                        <h4>Address</h4>
                        <p>Thailand</p>
                    </div>
                </div>

                <!-- Single Contact Information -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-contact-information mb-80">
                        <i class="fas fa-clock"></i>
                        <h4>Open time</h4>
                        <p>10:00 am to 23:00 pm</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Contact Information Area End -->

    <!-- Contact Area Start -->
    <section class="akame-contact-area bg-gray section-padding-80">
        <div class="container">
            <div class="row">
                <!-- Section Heading -->
                <div class="col-12">
                    <div class="section-heading text-center">
                        <h2>Send message</h2>
                        <p>Our staff will call back later and answer your questions.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <!-- Form -->
                    <form action="." method="post" class="akame-contact-form border-0 p-0">
                      {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" name="name" class="form-control mb-30" placeholder="Your Name" id="id_name" required>
                            </div>
                            <div class="col-lg-6">
                                <input type="email" name="email" class="form-control mb-30" placeholder="Email" id="id_email" required>
                            </div>
                            <div class="col-12">
                                <textarea name="message" class="form-control mb-30" placeholder="Your Message" id="id_message" rows="5" required></textarea>
                            </div>
                            <div class="col-12 text-center">
                                <button type="submit" class="btn akame-btn btn-3 mt-15 active">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Area End -->

  </div>
{% endblock %}






<h1>Contact-US</h1>
<form class="" action="." method="post">
  {% csrf_token %}
  {{form.as_p}}
  <input type="submit" value="Send">
</form>
