{% extends "base.html" %}

{% block title %}Pharma-Rose | Products{% endblock %}

{% block content %}
<section class="akame-news-area my-5 section-padding-0-80">
    <div class="container">
      <div class="row">
        {% for category in all_categories %}
          <div class="col-sm-2 my-2">
              <a style="font-weight: bold;" class="btn akame-btn" href="{% url 'products:category_product_list' category.slug %}">
                {{category.name}}
              </a>
          </div>
        {% endfor %}
      </div>
        <div class="row my-5 mx-sm-n4 akame-blog-masonary">
          {% for product in object_list %}
            <!-- Single Blog Item -->
            <div class="col-12 col-sm-6 col-lg-4 px-4 akame-blog-masonary-item mb-50 wow fadeInUp" data-wow-delay="200ms">
                <div class="single-post-area">
                  {% if product.image %}
                    <div class="post-thumbnail">
                        <img style="height: 200px; width: 200px;" src="{{product.image.url}}" >
                    </div>
                  {% endif %}
                    <div class="post-content">
                        <a style='text-decoration:none;' href="#" class="post-title">{{product.name}}</a>
                        <p>
                          {{product.text|truncatewords:6}}
                          <a href="" class="btn btn-warning btn-sm" style="background: #ed790b;">Read More</a>
                        </p>
                    </div>
                </div>
            </div>
          {% empty %}
            <div class="post-content text-center">
              <p>Sorry, No there any Products Yet!</p>
            </div>
          {% endfor %}
        </div>
      </div>
</section>

<section>
  {% if is_paginated %}
      {% if page_obj.has_next %}
          <div class="row">
            <div class="col-12 text-center">
              <a href="?page={{ page_obj.next_page_number }}" class="btn akame-btn active mt-30">Load More</a>
            </div>
          </div>
      {% endif %}
  {% endif %}
</section>
<!-- News Area End -->
{% endblock %}
