{% extends "base.html" %}

{% block title %}Pharma-Rose | {{object.name}}{% endblock %}

{% block content %}

<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__item">
                    {% if object.image %}
                        <img class="product__details__pic__item--large"
                            src="{{object.image.url}}" alt="" height="400px" width="200px">
                    {% endif %}
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product__details__text">
                    <h3>{{object.name}}</h3>
                    <p>{{object.text}}</p>
                </div>
            </div>
            
        </div>
    </div>
</section>


<!-- Blog Details Area Start 
<section class="akame-blog-details-area section-padding-80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div class="post-content">
                    <h2 class="post-title">{{object.name}}</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
              {% if object.image %}
                <div class="post-thumbnail mb-50">
                    <img src="{{object.image.url}}" height="400px" width="400px" alt="">
                </div>
              {% endif %}
            </div>
        </div>

        <div class="row justify-content-center">

            <div class="col-10 col-md-10 col-lg-9">
                <div class="blog-details-text">
                    <p>{{object.text}}</p>
                </div>
            </div>
</section>
-->

{% endblock %}
