{% extends "base.html" %}

{% block title %}Pharma-Rose | Products{% endblock %}

{% block content %}
<section class="akame-news-area my-5 section-padding-0-80">
    <div class="container">

      <div class="row">
        {% for category in all_categories %}
          <div class="col-sm-2 my-2">
              <a style="font-weight: bold;" class="btn akame-btn" href="{% url 'products:category_product_list' category.slug %}">
                {{category.name}}
              </a>
          </div>
        {% endfor %}
      </div>
      </div>
</section>

<section>
  {% if is_paginated %}
      {% if page_obj.has_next %}
          <div class="row">
            <div class="col-12 text-center">
              <a href="?page={{ page_obj.next_page_number }}" class="btn akame-btn active mt-30">Load More</a>
            </div>
          </div>
      {% endif %}
  {% endif %}
</section>
<!-- News Area End -->
{% endblock %}
