{% extends "base.html" %}

{% block title %}Pharma-Rose | {{object.name}}{% endblock %}

{% block content %}

<!-- Blog Details Area Start -->
<section class="akame-blog-details-area section-padding-80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div class="post-content">
                    <h2 class="post-title">{{object.name}}</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
              {% if object.image %}
                <div class="post-thumbnail mb-50">
                    <img src="{{object.image.url}}" alt="">
                </div>
              {% endif %}
            </div>
        </div>

        <div class="row justify-content-center">

            <div class="col-10 col-md-10 col-lg-9">
                <div class="blog-details-text">
                    <p>{{object.text}}</p>
                </div>
            </div>
</section>
{% endblock %}
